@font-face {
  font-family: 'PixelHallfeticaJP12P-Bold';
  src: url('../../../assets/impact/page/css/fonts/PixelHallfeticaJP12P-Bold.ttf');
}

body {
  cursor: url(../../../assets/game/page/img/cursor-2.png), auto;
  margin: 0px;
  padding: 0px;
  background: url('img/background.png') repeat;
  background-size: 64px;
  image-rendering: pixelated;
}

.col {
  float: left;
}

.items {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.item {
  font-family: 'PixelHallfeticaJP12P-Bold';
  color: white;
  background: url('img/li.png') no-repeat;
  text-align: center;
  vertical-align: middle;
  width: 284px;
  height: 38px;
  margin: 0px 0px 4px 0px;
}

.item > p {
  display: inline;
  line-height: 38px;
  user-select: none;
  font-size: 18px;
  text-shadow: 2px 2px 0px black;
}

.item:hover {
  background: url('img/li-hover.png') no-repeat;
}

.category {
  width: 210px;
  height: 42px;
  background: url('img/category.png');
  position: relative;
}

.category > img {
  position: absolute;
  left: 16px;
  top: 9px;
  user-select: none;
}

.category > span {
  position: absolute;
  left: 45px;
  top: 9px;
  user-select: none;
  color: white;
  font-family: 'PixelHallfeticaJP12P-Bold';
  font-size: 18px;
}
